.food {
	border: 1px solid #009f00;
	border-radius: 1rem;
	padding: 1rem;
	background: #00800069;
}
.food img {
	width: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}
.food h3 {
	font-size: 30px;
}
.food-details {
	font-size: 20px;
}

.add-to-cart-btn {
	margin-top: 1rem;
	background: transparent;
	font-size: 20px;
	cursor: pointer;
	color: #004000;
	background: #006f0066;
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #006f00;
}

.add-to-cart-btn:hover {
	background: #008f0066;
}
